.orders-view
  background-color: $white;

  .wrap
    display: flex;
    justify-content: space-between;
    align-items: center;

  .language-selector-wrapper
    margin-top 20px
    margin-right 20px
    flex-grow: 0;

  .refresh-button-container
    margin-top 20px
    margin-left 15px
    font-family: 'Roboto', sans-serif;

  .refresh-button
    font-family: 'Roboto', sans-serif;
    color $grey
    background: $slightlyGrey;
    border: 1px solid $slightlyRedGrey;
    border-radius: 6px;
    margin: 5px;
    padding: 11px;

  .logout-button
    font-family: 'Roboto', sans-serif;
    color $grey
    background: $slightlyGrey;
    border: 1px solid $slightlyRedGrey;
    border-radius: 6px;
    padding: 11px;
    margin-bottom 5px

  .table
    padding 0
