.orders-table-container
  display flex
  min-height 0
  height 100%
  flex-direction column

.orders-table
  font-family 'Roboto', sans-serif
  overflow hidden
  position relative
  border-radius 8px
  background $white
  padding 0 20px 20px 20px
  transition all 0.3s ease

.dx-datagrid-header-panel
  padding 0 0 0 0

.dx-datagrid-group-panel .dx-group-panel-item
  font-family 'Roboto', sans-serif
  background $slightlyGrey
  border 1px solid $slightlyRedGrey
  border-radius 6px
  margin 0
  padding 10px

